body {
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url('./images/image.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 200px 0;
    position: relative;
}

.hero .container {
    position: relative;
    z-index: 2;
}

.image-section {
    text-align: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

.card-title {
    font-size: 18px;
    margin: 10px 0;
}

.card-text {
    font-size: 16px;
}

.footer-bottom {
    border-top: 1px solid #444;
}

.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card:hover .card-title {
    color: green;
}
